:root{
    --clr-primary-softblue: hsl(215, 51%, 70%);
    --clr-primary-cyan: hsl(178, 100%, 50%);
    --clr-neutral-mainbg: hsl(217, 54%, 11%);
    --clr-neutral-cardbg: hsl(216, 50%, 16%);
    --clr-neutral-line: hsl(215, 32%, 27%);
    --clr-neutral-white: hsl(0, 0%, 100%);

    --fs-base: 16px;
    --ff-primary: 'Outfit', sans-serif;

    

}

